<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="btn">Click me</button>
    <script>
        window.onload = function(){
            document.getElementById("btn").style.display="none";
        };
        const btn = document.getElementById("btn");
        btn.addEventListener("click", function () {
            alert("Button clicked!");
        });
        document.addEventListener("keydown", function () {
            if (event.key === "Enter" || event.key ==" ") {
                event.preventDefault();
                btn.click();
            }
        });
    </script>
</body>

</html>